.box-layout {
  align-items: center;
  background: linear-gradient(#2193b0, #6dd5ed);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(#fff, 0.15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}