.button {
  border: none;
  background: $blue;
  color: #fff;
  display: inline-block;
  font-size: $font-size-large;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--remove {
  background-color: #ff5252;
}